
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes deppe-fly {
  0% {
    transform: translateX(-100%);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(120vw);
    opacity: 0;
  }
}
.animate-deppe-fly {
  animation: deppe-fly 2s ease-in-out forwards;
}
